<%= form_for @user do |f| %>
<fieldset>
  <div class="row">
    <div class="small-6 columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="small-6 columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="small-6 columns">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

    <%= f.submit nil, class: "button right" %> 
</fieldset>
<% end %>