<header>
	<h1><%= @event.name %></h1>
</header>

<section>
	<p>Date: <%= @event.date %></p>
	<p>Time: <%= @event.time %></p>
</section>

<footer>
	<%= link_to "Edit", edit_event_path(@event) %> | <%= link_to "All Events", events_path %>
</footer>

